header{
    text-align: center;
    background-color: #C1C1C1;
    padding: 0.5em;
}

a{
    margin: 0 10px;
    color: #333;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}

.active{
    color: #666;
    text-decoration: underline;
}