*{
    font-family: Roboto, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #E1E1E1;
    margin: 0;
    padding: 0;
}

button{
    background: transparent;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    box-shadow: #a1a1a1 3px 3px 5px 1px;
    font-weight: 500;
    margin-right: 0.3em;
    outline: none;
    &:hover{
        transform: scale(1.05);
    }
    &:active{
        transform: translate(1px, 1px);
        box-shadow: #a1a1a1 0 0 5px;
    }
}